Ignore
Users
trainer
venv
.idea

HiAsm/PlayListStore 3.0/Data.db
C#/Solution/*

t.*
*.exe
*.pyc
C#/*.zip

!Python/PlayListStore_4.0/Icons/*.*
!Python/PlayListStore_4.0/build/*.*
!PLS/PLS_3.exe

Android/*
C#/Solo/.vs/
Kotlin/Test/Test.iml
*.pdb
*.cache
!SenchaProject/*.exe
PLS/debug.log
#C#/vm/*
