Ignore
Users
trainer
venv
.idea
C#/Solution/*
С#/Solution/*
HiAsm/PlayListStore 3.0/Data.db
Python/Test/*
Python/PyQt5_Examples/*

*test.*
t.*
*.jpg
*.exe
*.pyc

!Python/PlayListStore_4.0/Icons/*.*
!Python/PlayListStore_4.0/build/*.*
!PLS/PLS_3.exe
