Ignore
Users
trainer
venv
.idea

HiAsm/PlayListStore 3.0/Data.db
Python/Test/*
Python/PyQt5_Examples/*
C#/Solution/*

*test.*
t.*
*.jpg
*.exe
*.pyc

!Python/PlayListStore_4.0/Icons/*.*
!Python/PlayListStore_4.0/build/*.*
!PLS/PLS_3.exe

Android/*
