QPushButton:hover{
	border: 2px solid #6ebcd2;
	border-radius: 5px;
}
QPushButton:pressed{
	padding-top: 3px;
    padding-left: 4px;
}
/* Top main bar*/
	#mainBar{background: silver;}
	#closePName{
		background: url(Icons/close.png) center center no-repate;
		border-radius: 15px;
		border: 2px solid silver; 
	}
	#closePName:hover{border: 2px solid #6ebcd2;}
	#closePName:pressed{border: 3px solid #6ebcd2;}
	#viewed_count{font-size: 19px;}

QWidget{font-family: "Comic Sans MS";}
QMessageBox{font-size: 20px;}
QFrame{border: none;}
QToolTip{	
    border: 1px solid #6ebcd2;
    background: qlineargradient(spread:pad, x1:0.461, y1:1, x2:0.477682, y2:0, stop:0 rgba(189, 189, 189, 255), stop:1 rgba(255, 255, 255, 255));
    border-radius: 3px;
}
#row_count{font-size: 20px;font-weight: bold;}
/* Side bar*/
	#topBar,#add_form,#add_form #genre,
	#add_form #link{background-color:silver;border: none;}
	#sideBar QWidget{
		font-size: 16px;
	}
	#sideBar,#genre,#link{
	    background: #ebebeb;
	    border: none;
	    height: 25px;
	}
	#sideBar QCheckBox{padding-left: 5px;}
	#desc{background: #F2F2F2;border-radius: 5px;}
	#closeSide{font-size: 12px;font-weight: bold;}

/*Title row*/
	#t_row{border:2px solid #F0F0F0;border-radius: 7px;}
	#t_row:hover{border:2px solid #6ebcd2;}
	#t_row QPushButton{font-size: 16px;font-weight: bold;}
	
	#t_row #title_name,
	#t_row #con_date,
	#t_row #count{
	background: #D9D9D9;
	border: none;
	font-size: 20px;
	}
	#t_row #title_name{
		padding-left: 5px;
		border-left: 1px solid #8B8B8B;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;}
	#t_row #count{
		border-right: 1px solid #8B8B8B;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	#t_row #con_date{border-radius: 5px;margin-right: 3px;}

	QMenu{
		border: 1px solid red;
		font-size: 18px;
		width: 225px;
	}
	/*QMenu::icon{width: 30px;height: 30px;}*/
	QMenu::item:selected{color: white;width: 220px;}
	QWidget:disabled{
	    color: #404040;
	    background-color: lightgray;
	}

/*Add title form*/
	#add_form QWidget{font-size: 16px;}
	#add_form QLineEdit{height: 25px;}
	#add_form #desc{background: #D5D5D5;}
	#add_form #count{
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			background: #ebebeb;
		}
	#add_form #title_name{
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			background: #ebebeb;
		}